<style>
  table {
    border: 1px solid black;
  }

  table tr,
  table th {
    border: none;
  }

  tbody {
  }

  tfoot {
  }
</style>

<table>
  <tbody>
    <tr>
      <th>
        <span>Common name</span>
      </th>
      <td>
        <span>Beaver</span>
      </td>
    </tr>
    <tr>
      <th>
        <span>Scientific name</span>
      </th>
      <td>
        <span>Castor canadensis</span>
      </td>
    </tr>
    <tr>
      <th>
        <span>Type</span>
      </th>
      <td>
        <span>Mammals</span>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Awesomnes</th>
      <td>Over 9000</td>
    </tr>
  </tfoot>
</table>
