<style lang="scss">
  @import '../style/theme.scss';

  $base1: hotpink;

  h1 {
    color: $base1;
  }
</style>

<svelte:head>
  <title>About</title>
</svelte:head>

<h1>About this site</h1>

<p>This is the 'about' page. There's not much here.</p>
